.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subwrapper {
    position:relative;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 230px;
}

.nav {
    justify-content: center;
}

.panel {
    display: inline;
}

.sort-filter-links {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.sort-filter-links:hover {
    border-bottom: 1px solid #0D84FD;
}